In [4]:
# Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [5]:
# Load dataset
df = pd.read_csv('new.csv')

In [7]:
df.head()

     Location  Temperature  Rainfall  fillingrate
0  Location 1           27         2            7
1  Location 2           27         2            5
2  Location 3           27         2            8
3  Location 4           27         2            2
4  Location 5           27         2            8

In [9]:
location = pd.get_dummies(df.Location)
merged= pd.concat([df,location],axis='columns')
merged

,Location,Temperature,Rainfall,fillingrate,Location 1,Location 10,Location 2,Location 3,Location 4,Location 5,Location 6,Location 7,Location 8,Location 9
0,Location 1,27,2,7,1,0,0,0,0,0,0,0,0,0
1,Location 2,27,2,5,0,0,1,0,0,0,0,0,0,0
2,Location 3,27,2,8,0,0,0,1,0,0,0,0,0,0
3,Location 4,27,2,2,0,0,0,0,1,0,0,0,0,0
4,Location 5,27,2,8,0,0,0,0,0,1,0,0,0,0
5,Location 6,27,2,7,0,0,0,0,0,0,1,0,0,0
6,Location 7,27,2,9,0,0,0,0,0,0,0,1,0,0
7,Location 8,27,2,6,0,0,0,0,0,0,0,0,1,0
8,Location 9,27,2,5,0,0,0,0,0,0,0,0,0,1
9,Location 10,27,2,8,0,1,0,0,0,0,0,0,0,0
10,Location 1,21,30,5,1,0,0,0,0,0,0,0,0,0
11,Location 2,21,30,1,0,0,1,0,0,0,0,0,0,0
12,Location 3,21,30,5,0,0,0,1,0,0,0,0,0,0
13,Location 4,21,30,4,0,0,0,0,1,0,0,0,0,0
14,Location 5,21,30,2,0,0,0,0,0,1,0,0,0,0
15,Location 6,21,30,6,0,0,0,0,0,0,1,0,0,0
16,Location 7,21,30,1,0,0,0,0,0,0,0,1,0,0
17,Location 8,21,30,4,0,0,0,0,0,0,0,0,1,0
18,Location 9,21,30,4,0,0,0,0,0,0,0,0,0,1
19,Location 10,21,30,1,0,1,0,0,0,0,0,0,0,0
20,Location 1,25,10,6,1,0,0,0,0,0,0,0,0,0
21,Location 2,25,10,2,0,0,1,0,0,0,0,0,0,0
22,Location 3,25,10,6,0,0,0,1,0,0,0,0,0,0
23,Location 4,25,10,4,0,0,0,0,1,0,0,0,0,0
24,Location 5,25,10,4,0,0,0,0,0,1,0,0,0,0
25,Location 6,25,10,6,0,0,0,0,0,0,1,0,0,0
26,Location 7,25,10,2,0,0,0,0,0,0,0,1,0,0
27,Location 8,25,10,5,0,0,0,0,0,0,0,0,1,0
28,Location 9,25,10,7,0,0,0,0,0,0,0,0,0,1
29,Location 10,25,10,2,0,1,0,0,0,0,0,0,0,0

In [21]:
x = merged.drop(['fillingrate','Location','Location 1'], axis=1)

In [23]:
x

,Temperature,Rainfall,Location 10,Location 2,Location 3,Location 4,Location 5,Location 6,Location 7,Location 8,Location 9
0,27,2,0,0,0,0,0,0,0,0,0
1,27,2,0,1,0,0,0,0,0,0,0
2,27,2,0,0,1,0,0,0,0,0,0
3,27,2,0,0,0,1,0,0,0,0,0
4,27,2,0,0,0,0,1,0,0,0,0
5,27,2,0,0,0,0,0,1,0,0,0
6,27,2,0,0,0,0,0,0,1,0,0
7,27,2,0,0,0,0,0,0,0,1,0
8,27,2,0,0,0,0,0,0,0,0,1
9,27,2,1,0,0,0,0,0,0,0,0
10,21,30,0,0,0,0,0,0,0,0,0
11,21,30,0,1,0,0,0,0,0,0,0
12,21,30,0,0,1,0,0,0,0,0,0
13,21,30,0,0,0,1,0,0,0,0,0
14,21,30,0,0,0,0,1,0,0,0,0
15,21,30,0,0,0,0,0,1,0,0,0
16,21,30,0,0,0,0,0,0,1,0,0
17,21,30,0,0,0,0,0,0,0,1,0
18,21,30,0,0,0,0,0,0,0,0,1
19,21,30,1,0,0,0,0,0,0,0,0
20,25,10,0,0,0,0,0,0,0,0,0
21,25,10,0,1,0,0,0,0,0,0,0
22,25,10,0,0,1,0,0,0,0,0,0
23,25,10,0,0,0,1,0,0,0,0,0
24,25,10,0,0,0,0,1,0,0,0,0
25,25,10,0,0,0,0,0,1,0,0,0
26,25,10,0,0,0,0,0,0,1,0,0
27,25,10,0,0,0,0,0,0,0,1,0
28,25,10,0,0,0,0,0,0,0,0,1
29,25,10,1,0,0,0,0,0,0,0,0

In [24]:
y = df['fillingrate']
y.head()

0    7
1    5
2    8
3    2
4    8
Name: fillingrate, dtype: int64

In [25]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [30]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [31]:
pred = model.predict(x_test)
pred

array([6.61538462, 3.19230769, 5.19230769, 8.61538462, 3.        ,
       7.11538462])

In [37]:
x_test

,Temperature,Rainfall,Location 10,Location 2,Location 3,Location 4,Location 5,Location 6,Location 7,Location 8,Location 9
4,27,2,0,0,0,0,1,0,0,0,0
17,21,30,0,0,0,0,0,0,0,1,0
20,25,10,0,0,0,0,0,0,0,0,0
2,27,2,0,0,1,0,0,0,0,0,0
14,21,30,0,0,0,0,1,0,0,0,0
3,27,2,0,0,0,1,0,0,0,0,0

In [32]:
y_test

4     8
17    4
20    6
2     8
14    2
3     2
Name: fillingrate, dtype: int64

In [33]:
pred = model.predict(x_test)

# Compute mean squared error
mse = mean_squared_error(y_test, pred)

# Print mean squared error
print("Mean Squared Error:", mse)

Mean Squared Error: 5.127958579881732

In [36]:
# Ask user for temperature, rainfall, and location input
print("Enter temperature, rainfall, and location (separated by commas):")
user_input = input().split(",")
user_input = [float(x.strip()) if i < 2 else x.strip() for i, x in enumerate(user_input)]

# Get one-hot encoding for user's location input
user_location = pd.get_dummies([user_input[2]])[merged.columns[2:]]
user_location = user_location.reindex(columns=x.columns, fill_value=0)

# Create input array for model prediction
user_x = np.hstack([user_input[:2], user_location])

# Use model to predict filling rate
user_filling_rate = model.predict(user_x.reshape(1, -1))

# Print predicted filling rate
print("Predicted filling rate:", user_filling_rate[0])

Enter temperature, rainfall, and location (separated by commas):
20,30,1,0,0,0,0,0,0,0,0,0

KeyError: "None of [Index(['Rainfall', 'fillingrate', 'Location 1', 'Location 10', 'Location 2',\n       'Location 3', 'Location 4', 'Location 5', 'Location 6', 'Location 7',\n       'Location 8', 'Location 9'],\n      dtype='object')] are in the [columns]"

In [41]:
x_test=27,2,0,0,0,0,1,0,0,0,0

pred = model.predict(x_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[27  2  0  0  0  0  1  0  0  0  0].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.